*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body{
    height: 100px;
    background-image: url('https://images.pexels.com/photos/130879/pexels-photo-130879.jpeg');
    background-size: cover;
    background-position:var(cover);
    position: relative;
}
li{
    list-style: none; 
}
a{
    text-decoration: none;
    color:black;
    font-size: 15px;
}
a:hover{
    color: rgb(228, 153, 15);
}

header{
    position: relative;
    padding: 0 2px;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 24px;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 32px;
    cursor: pointer;
}

.navbar .toggle_btn{
    color: black;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: rgb(254, 192, 78);
    color: black;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: black;
}
.action_btn:active{
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 32px;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(143, 112, 49, 0.071);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dropdown_menu .action_btn{
    width: 60%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar  .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media (max-width: 576px){
    .dropdown_menu{
        left: 32px;
        width: unset;
    }
}