/* HEADER */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
body{
    height: 100px;
    background-image: url('https://images.pexels.com/photos/130879/pexels-photo-130879.jpeg');
    background-position:var(justify-content);
    background-size: cover;
    position: relative;
}
li{
    list-style: none; 
}
a{
    text-align: center;
    text-decoration: none;
    color:rgb(255, 255, 255);
    right: 70%;
}
a:hover{
    color: rgb(15, 129, 228);
}

header{
    position: relative;
    padding: 0 2px;
}
.navbar{
    width: 100%;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.navbar .toggle_btn{
    color: black;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.action_btn{
    width: 5rem;
    background-color: rgb(78, 228, 254);
    color: black;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: black;
}
.action_btn:active{
    scale: 0.95;
}

/* DROPDOWN MENU */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 32px;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(143, 112, 49, 0.071);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dropdown_menu .action_btn{
    width: 60%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar  .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media (max-width: 576px){
    .dropdown_menu{
        left: 32px;
        width: unset;
    }
}

/* MENU */

.menu{
    color: white;
    text-align: left;
    font-size: 16px;
}

/* CONTENT */

.container{
    position: fixed;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(156, 186, 246, 0.441);
    left: 77%;
    top: 47%;
    transform: translate(-50%,-50%);
    padding: 25px 27px;
    width: 520px;
    box-shadow: 0 0 20px rgba(255,255,255,.3);
}
.tengah{
    text-align: center;
}
img{
    position: fixed;
    width: 300px;
    height: 20rem;
}
.klikdisini{
    text-decoration: underline;
    color: white;
}
table td a{
    text-decoration: underline;
    color: white;
}

/* FOOTER */
.footer{
    padding: 12px;
    font-size: small;
    color: white;
    width: 100%;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    background-color: rgba(156, 186, 246, 0.342);
}